body {
  margin: 0;
  padding: 0;
}
.top-wrapper::before{
  content: "";
  background-image: url(https://images.unsplash.com/photo-1589244159943-460088ed5c92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=890&q=80);
  background-size: cover;
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.top-wrapper {
  padding: 250px 0 250px 0;
  background-color: rgba(0,0,0,.4);
  color: white;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0,0,0,.3);
  overflow: hidden;
  height: 120px;
  }

  .content-wrapper{
    Position: relative
    }
     
  .content-wrapper::before{
    content: "";
    background-image: url(https://images.unsplash.com/photo-1551468307-8c1e3c78013c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);
    background-size: contain;
    position: absolute;
    z-index:-1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    }
  .content-wrapper p{
    font-size: 20px;
  }

nav {
  display: grid;
  width: 100%;
  background-color: rgb(250,128,114,0.6);
  position: fixed;
  top: 0;
  z-index: 10;
  grid-template-columns: auto auto;
  }

.kiri {
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: Pacifico;
}

.kanan {
  display: grid;
  padding-left: 10%; 
  grid-template-columns: auto auto auto auto 20%;
  line-height: 65px;
  text-align: center;
}

nav a  {
  text-decoration: none;
  color: white;
  background-color: none;
  transition: all 0.5s;
}

.login {
  background-color: rgba(255, 255, 255, 0.3);
  float: right;
  transition: all 0.5s;
  line-height: 65px;
  padding: 0 25px;
  display: block;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.kanan>.login{
    color: white;
}

.top-wrapper h1 {
  opacity: 1;
  font-size: 60px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-family: Pacifico;
  }

  .top-wrapper h4 {
  margin-top: 0;
  padding-top: 0;
  font-size: 30px;
  opacity: 1;
  margin-bottom: 3px;
}

.content-wrapper{
  padding-bottom: 80px;
}


.heading1{
  padding-top: 60px;
  color: indianred;
  padding-left: 20px;
}

.heading2{
  border-top: 3px solid rgb(206, 51, 51);
  color: indianred;
  padding: 20px;
}

.heading2>.content-tulisan{
  padding-bottom: 40px;
  border-bottom: 3px dashed rgb(206, 51, 51);
 }

 .content-sasa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 50px;
}

.content-a {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.content-b {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.content-c {
  display: flex;
  align-items: center;
  margin: 0 20px;
}


.tulisan-a {
  margin-left: 20px;
  text-align: start;
  color: indianred;
}
.tulisan-b {
  margin-left: 20px;
  text-align: start;
  color: indianred;
}
.tulisan-c {
  margin-left: 20px;
  text-align: start;
  color: indianred;
}

.heading2>.content-gambar{
 display: flex;
 padding-top: 40px;
 justify-content: space-evenly;
 flex-direction: row;
}

.content-gambar .card{
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0,0,0,.3);
  padding: 10px;
  border-radius: 10px;
}

button{
  width: 100%;
  font-size: 17px;
  border: none;
  height: 40px;
  background-color: #503e9d;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

button a{
  text-decoration: none;
  color: white;
}


.card img{
  width: 100%;
  height: 200px;
}

.p {
  color: indianred;
}

/*di bawah ini css si siril*/
.contact-wrapper::before {    
  content: "";
  background-image: url('https://images.unsplash.com/photo-1551468307-8c1e3c78013c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.contact-wrapper{
  position: relative;
}

.banner{
  width: 100%;
  height: 100vh;
  background: url(bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.content{
  padding:50px 100px;
}
 
.content h3{
  margin: 0 0 20px;
  padding:0;
  font-size: 30px;
}
 
.content p{
  font-size: 18px;
}
 
.sidebar-contact{
  position: relative;
  width: 60vh;
  height: auto;
  padding: 40px;
  background: white;
  box-shadow: 0 20px 50px salmon (0,0,0,.5);
  box-sizing: border-box;
  transition: 0.5s;
  margin-left: 10vw;
}
  
.sidebar-contact input, .sidebar-contact textarea{
  width: 100%;
  height: 36px;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border:1px solid rgba(0,0,0,.5);
  outline: none;
}
 
.sidebar-contact textarea{
  height: 60px;
  resize:none;
}
 
.sidebar-contact input[type="submit"]
{
  background: salmon;
  color: black;
  cursor: pointer;
  border:none;
  font-size: 18px;
}
 
.sidebar-contact h3{
  margin:0 0 20px;
  padding: 0;
}

.contact-container{
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.contact-left{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.contact-item{
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.tulisan{
  margin-left: 10px;
}

.item p{
  color: salmon (0, 0, 0, 0.75);
  margin: 5px 0;
}

.item h2{
  margin: 5px 0;
}

/*kemal*/

.about{
  display: grid;
  grid-template-columns: 60% auto;
  gap: 10px 10px;
}
.about > div {
  color: indianred;
  font-family: Pacifico;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px;
    font-size: 50px;
    box-shadow: 0px 10px 20px rgba(0,0,0,.3);
    text-decoration: underline;
    font-weight: bolder;
    text-align: center;
}
.item2{
    grid-column-start: 1;
    grid-column-end: 2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 3px solid rgb(206, 51, 51);
    border-left: 0px;
    padding: 20px 20px;
    box-shadow: 0px 10px 20px rgba(0,0,0,.3);
    font-size: 20px;
}

.fotoabout{
  display: flex;
  flex-direction: row;
  gap: 0 30px;
  margin: 0 auto;
  box-shadow: 0px 10px 20px rgba(0,0,0,.3);
  line-height: 65px;
  text-align: center;
}

.fotoabout>img{
  height: 100%;
  padding-top: 0;
}

.item3{
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px 10px;
  max-width: 400px;
}

.item3 div{
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,.3);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 20px;
}

.item3 img{
width: 200px;
}